body {
    font-family: "Poppins", sans-serif;
}

.no-scroll {
    overflow: hidden; 
  }

.container {
    width: 80% !important;
    margin: 0 auto;
    max-width: 1440px !important; 
}

@media (max-width: 1024px) {
    .container {
        width: 90% !important;
        margin: 0 auto;
    }
}